*/node_modules/*
server/central-service/node_modules
server/drivers-service/node_modules
server/main-view-service/node_modules
server/passengers-service/node_modules
server/plot-service/node_modules
client/adminui/node_modules
client/partnerui/node_modules
node_modules
.eslintcache
.cache