nav {
    margin-bottom: 0px;
}

.col-sm {
   
    margin: auto;

    padding: 10px;
}

@keyframes move {
    0% {
        left: 0%;
    }
    50% {
        left: 30%;
    }
    100% {
        left:  0%;
    }
}

h1,p {
    position: relative;
    animation-name: move;
    animation-duration: 6s;
    animation-fill-mode: forwards;
}

table {
    table-layout: fixed;
    width: 100%;
    font-size: 13px;

}

table > thead, td {
    text-align: center;
    padding: 5px;
}

.my-form {
    background-image: linear-gradient(to right, #2d618c,#0fb6d4);
    width: 700px;
    margin: auto;
    height: 450px;
}

form {
    padding-top: 35px;
   
}