@font-face {
  font-family: "MoveBold";
  src: local("MoveBold"), url(../../fonts/MoveBold.otf);
}
@font-face {
  font-family: "MoveMedium";
  src: local("MoveMedium"), url(../../fonts/MoveMedium.otf);
}
@font-face {
  font-family: "MoveRegular";
  src: local("MoveRegular"), url(../../fonts/MoveRegular.ttf);
}
@font-face {
  font-family: "MoveLight";
  src: local("MoveLight"), url(../../fonts/MoveLight.ttf);
}
@font-face {
  font-family: "MoveTextBold";
  src: local("MoveTextBold"), url(../../fonts/UberMoveTextBold.otf);
}
@font-face {
  font-family: "MoveTextMedium";
  src: local("UberMoveTextMedium"), url(../../fonts/UberMoveTextMedium.otf);
}
@font-face {
  font-family: "MoveTextRegular";
  src: local("UberMoveTextRegular"), url(../../fonts/UberMoveTextRegular.otf);
}
@font-face {
  font-family: "MoveTextLight";
  src: local("UberMoveTextLight"), url(../../fonts/UberMoveTextLight.otf);
}

.menuText {
  font-family: "MoveTextMedium", sans-serif;
  color: #4b5158;
  font-size: 14px;
}

.menuTextVersionNo {
  position: relative;
  font-family: "MoveTextLight", sans-serif;
  color: #4b5158;
  margin-top: 35px;
  font-size: 14px;
}

.sidebar {
  height: 100%;
  display: inline-block;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 25%;
  border-right: 1px solid #d0d0d0;
}

.menuItemSideBar {
  margin-bottom: 5%;
}

.logoContainer {
  width: 150px;
  margin-left: 28px;
  text-align: left;
  margin-bottom: 20px;
  margin-top: 15px;
  // border: 1px solid red;
  font-family: "MoveTextBold";
}

.logoTrue {
  object-fit: contain;
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 0;
}

$sidebar-bg-color: #fff;
$sidebar-width: 100%;
$submenu-bg-color: #fff !default;
$highlight-color: #0e8491 !default;

@import "~react-pro-sidebar/dist/scss/styles.scss";
