/*.left-column {
    grid-area: left-column;
    background-color: white;
    width: 200px;
}
.right-column {
    grid-area: right-column;
    background-color: rgba(255, 255, 255, 0.733);
    margin-left: 15px;
} */

/*
.wrapper {
    display: grid;
    grid-template-columns: 250px 1fr;
    
    grid-template-areas: 
    "left-column right-column";
    gap: 10px;
} */
.main-content {
  overflow: auto;
}
#top {
  width: 100%;
  text-align: center;
  color: cornsilk;
  padding: 12px;
}
#title {
  width: 100%;
  text-align: center;
  color: cornsilk;
}
.content-overview {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.content-overview div {
  background-color: rgba(177, 167, 167, 0.527);
  text-align: center;
  border-radius: 4px;
  width: 40%;
  align-content: center;
  margin: 20px;
}

h5 {
  font-style: italic;
}

table {
  table-layout: fixed;
  width: 100%;
  font-size: 13px;
}
