.main-container-DataVisualizerRoutesList {
    display: flex;
    flex-direction: column;
    padding: 7%;
    color: white;


}

.view-options {
    display: grid;
    place-items: center;
    padding: 1.5%;
    border-left: 10px solid rgb(22, 1, 46);
    background-color:rgb(0, 57, 95);
    border-radius: 5%;

}

.view-options:hover {
    background-color: #03022b;
    cursor: pointer;
    font-weight: 900;
}