.plots {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    background-color: #f5f3f2;
}

.plot-title {
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 3%;
}

